Repository stdevPavelmc/maild: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_db, build_admin, build_mta, build_mda, build_amavis, build_clamav, build_mua, build_cron, release_db, release_admin, release_mta, release_mda, release_amavis, release_clamav, release_mua, release_cron

Path conditions:
  build_db: any of: db/**/*, vars/db.env
  build_admin: any of: admin/**/*, vars/admin.env
  build_mta: any of: mta/**/*, vars/mta.env
  build_mda: any of: mda/**/*, vars/mda.env
  build_amavis: any of: amavis/**/*, vars/amavis.env
  build_clamav: any of: clamav/**/*, vars/clamav.env
  build_mua: any of: mua/**/*, vars/mua.env
  build_cron: any of: cron/**/*
  release_db: any of: db/**/*, vars/db.env
  release_admin: any of: admin/**/*, vars/admin.env
  release_mta: any of: mta/**/*, vars/mta.env
  release_mda: any of: mda/**/*, vars/mda.env
  release_amavis: any of: amavis/**/*, vars/amavis.env
  release_clamav: any of: clamav/**/*, vars/clamav.env
  release_mua: any of: mua/**/*, vars/mua.env
  release_cron: any of: cron/**/*

Add setrepos to ease development/install or simple on develop
  Changelog.md
  Install.md
  VERSION
  admin/Dockerfile
  amavis/Dockerfile
  clamav/Dockerfile
  cron/Dockerfile
  db/Dockerfile
  mda/Dockerfile
  mta/Dockerfile
  mua/Dockerfile
  setrepos.sh
  sources.list_debian
  sources.list_ubuntu
Due: build_db, build_admin, build_mta, build_mda, build_amavis, build_clamav, build_mua, build_cron, release_db, release_admin, release_mta, release_mda, release_amavis, release_clamav, release_mua, release_cron

Update copyright info
  admin/docker-entrypoint.sh
  amavis/check.sh
  amavis/docker-entrypoint.sh
  clamav/check.sh
  clamav/docker-entrypoint.sh
  db/multiple_db.sh
  mda/check.sh
  mda/configure.sh
  mta/check.sh
  mta/docker-entrypoint.sh
  mua/check.sh
  mua/docker-entrypoint.sh
Due: build_db, build_admin, build_mta, build_mda, build_amavis, build_clamav, build_mua, release_db, release_admin, release_mta, release_mda, release_amavis, release_clamav, release_mua

Add some more excludes
  .gitignore
Due: none

Update copyright info
  cron/scripts/check_maildirs.sh
  cron/scripts/resume.sh
Due: build_cron, release_cron

Update to snappy mail 2.36.4
  mua/domain.json
Due: build_mua, release_mua

Add gitignore
  .gitignore
Due: none

Add the local interent loggic
  admin/internet.Dockerfile
  admin/local.Dockerfile
  mua/internet.Dockerfile
  mua/local.Dockerfile
  setrepos.sh
Due: build_admin, build_mua, release_admin, release_mua

Docker version update, some fixes on validation on the docker entrypoints of amavis, docs and some other tweaks
  Changelog.md
  Install.md
  VERSION
  admin/Dockerfile
  admin/internet.Dockerfile
  admin/local.Dockerfile
  amavis/Dockerfile
  amavis/docker-entrypoint.sh
  clamav/Dockerfile
  compose-online.yml
  cron/Dockerfile
  db/Dockerfile
  docker-compose.yml
  mda/Dockerfile
  mta/Dockerfile
  mua/Dockerfile
  mua/internet.Dockerfile
  mua/local.Dockerfile
  setrepos.sh
  sources.list_debian
  sources.list_ubuntu
Due: build_db, build_admin, build_mta, build_mda, build_amavis, build_clamav, build_mua, build_cron, release_db, release_admin, release_mta, release_mda, release_amavis, release_clamav, release_mua, release_cron

Create docker-image.yml
  .github/workflows/docker-image.yml
Due: none

Update action docker username and maild-db
  .github/workflows/docker-image.yml
  compose-online.yml
Due: none

Test action
  .github/workflows/docker-image.yml
Due: none

New approach
  .github/workflows/docker-image.yml
Due: none

Add docker to the build
  .github/workflows/docker-image.yml
Due: none

Fix docker compose command
  .github/workflows/docker-image.yml
Due: none

Initial support for Github Docker Registry
  .github/workflows/docker-image.yml
  Install.md
  compose-dockerhub.yml
  compose-github.yml
Due: none

Lowercase repo name to please github
  compose-github.yml
Due: none

Update version
  Changelog.md
  VERSION
Due: none

Github image name fix
  compose-github.yml
Due: none

Set github labels to the dockerfiles
  admin/Dockerfile
  admin/internet.Dockerfile
  admin/local.Dockerfile
  amavis/Dockerfile
  clamav/Dockerfile
  cron/Dockerfile
  db/Dockerfile
  mda/Dockerfile
  mta/Dockerfile
  mua/Dockerfile
  mua/internet.Dockerfile
  mua/local.Dockerfile
Due: build_db, build_admin, build_mta, build_mda, build_amavis, build_clamav, build_mua, build_cron, release_db, release_admin, release_mta, release_mda, release_amavis, release_clamav, release_mua, release_cron

Fix missing closing quote
  mua/Dockerfile
  mua/internet.Dockerfile
  mua/local.Dockerfile
Due: build_mua, release_mua

Back the changes, no github for now
  .github/workflows/docker-image.yml
Due: none

Last try today on Github package
  .github/workflows/docker-image.yml
Due: none

Last try today on Github package try 2
  .github/workflows/docker-image.yml
Due: none

Add GLP v3 licence
  LICENSE.GPLv3
Due: none

logos
  MailD-logo-full-blue.png
  MailD-logo-full.png
  MailD-logo-funciona-con.png
  MailD-logo-powered-by-blue-long-horiz.png
  MailD-logo-powered-by-long-horiz.png
  MailD-logo-powered-by-white.png
  MailD-logo-powered-by.png
  MailD-logo-white.png
Due: none

Rename MailD-logo-full-blue.png to logos/MailD-logo-full-blue.png
  logos/MailD-logo-full-blue.png
Due: none

Rename MailD-logo-full.png to logos/MailD-logo-full.png
  logos/MailD-logo-full.png
Due: none

Rename MailD-logo-funciona-con.png to logos/MailD-logo-funciona-con.png
  logos/MailD-logo-funciona-con.png
Due: none

Rename MailD-logo-powered-by-blue-long-horiz.png to logos/MailD-logo-powered-by-blue-long-horiz.png
  logos/MailD-logo-powered-by-blue-long-horiz.png
Due: none

Rename MailD-logo-powered-by-long-horiz.png to logos/MailD-logo-powered-by-long-horiz.png
  logos/MailD-logo-powered-by-long-horiz.png
Due: none

Rename MailD-logo-powered-by-white.png to logos/MailD-logo-powered-by-white.png
  logos/MailD-logo-powered-by-white.png
Due: none

Rename MailD-logo-powered-by.png to logos/MailD-logo-powered-by.png
  logos/MailD-logo-powered-by.png
Due: none

Rename MailD-logo-white.png to logos/MailD-logo-white.png
  logos/MailD-logo-white.png
Due: none

Upgrade to v1.1.0
  Changelog.md
  README.md
  VERSION
  admin/Dockerfile
  admin/docker-entrypoint.sh
  admin/internet.Dockerfile
  admin/local.Dockerfile
  amavis/Dockerfile
  amavis/check.sh
  amavis/docker-entrypoint.sh
  clamav/Dockerfile
  clamav/check.sh
  clamav/docker-entrypoint.sh
  cron/scripts/check_maildirs.sh
  cron/scripts/resume.sh
  cron/spamassassin/spamassassin
  db/multiple_db.sh
  docker-compose.yml
  env.sample
  mda/Dockerfile
  mda/check.sh
  mda/configure.sh
  mta/check.sh
  mta/docker-entrypoint.sh
  mta/postfix/rules/body_checks
  mta/postfix/rules/postscreen_access.cidr
  mua/Dockerfile
  mua/check.sh
  mua/docker-entrypoint.sh
  mua/domain.json
  setrepos.sh
  sources.list_debian
  sources.list_ubuntu
  vars/clamav.env
Due: build_db, build_admin, build_mta, build_mda, build_amavis, build_clamav, build_mua, build_cron, release_db, release_admin, release_mta, release_mda, release_amavis, release_clamav, release_mua, release_cron

Upgrade postgres to v18
  db/Dockerfile
Due: build_db, release_db

General revamp to stable befor upgrade
  .pre-commit
  AGENTS.md
  DEV-SETUP.md
  README.md
  admin/Dockerfile
  amavis/Dockerfile
  amavis/docker-entrypoint.sh
  clamav/Dockerfile
  clamav/check.sh
  cron/crontab
  cron/scripts/backup_db.sh
  cron/scripts/check_maildirs.sh
  cron/scripts/resume.sh
  docker-compose-dev.yml
  docker-compose.yml
  env.sample
  mda/Dockerfile
  mda/configure.sh
  mda/docker-entrypoint.sh
  mda/dovecot/conf.d/10-master.conf
  mda/dovecot/conf.d/20-lmtpd.conf
  mda/dovecot/conf.d/90-sieve.conf
  mda/sendmail.py
  mta/Dockerfile
  mta/docker-entrypoint.sh
  mta/postfix/main.cf.s
  mta/postfix/rules/postscreen_access.cidr
  mua/Dockerfile
  mua/docker-entrypoint.sh
Due: build_admin, build_mta, build_mda, build_amavis, build_clamav, build_mua, build_cron, release_admin, release_mta, release_mda, release_amavis, release_clamav, release_mua, release_cron

Move to resolute [caos release] and some vars and namings issues
  amavis/Dockerfile
  clamav/Dockerfile
  cron/Dockerfile
  docker-compose-dev.yml
  env.sample
  mda/Dockerfile
  mta/Dockerfile
Due: build_mta, build_mda, build_amavis, build_clamav, build_cron, release_mta, release_mda, release_amavis, release_clamav, release_cron

Change netcat
  amavis/Dockerfile
  clamav/Dockerfile
  mda/Dockerfile
  mta/Dockerfile
Due: build_mta, build_mda, build_amavis, build_clamav, release_mta, release_mda, release_amavis, release_clamav
