Repository stdevPavelmc/maild: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_db, build_admin, build_mta, build_mda, build_amavis, build_clamav, build_mua, build_cron, release_db, release_admin, release_mta, release_mda, release_amavis, release_clamav, release_mua, release_cron

Path conditions:
  build_db: any of: db/**/*, vars/db.env
  build_admin: any of: admin/**/*, vars/admin.env
  build_mta: any of: mta/**/*, vars/mta.env
  build_mda: any of: mda/**/*, vars/mda.env
  build_amavis: any of: amavis/**/*, vars/amavis.env
  build_clamav: any of: clamav/**/*, vars/clamav.env
  build_mua: any of: mua/**/*, vars/mua.env
  build_cron: any of: cron/**/*
  release_db: any of: db/**/*, vars/db.env
  release_admin: any of: admin/**/*, vars/admin.env
  release_mta: any of: mta/**/*, vars/mta.env
  release_mda: any of: mda/**/*, vars/mda.env
  release_amavis: any of: amavis/**/*, vars/amavis.env
  release_clamav: any of: clamav/**/*, vars/clamav.env
  release_mua: any of: mua/**/*, vars/mua.env
  release_cron: any of: cron/**/*

Uopdate snappy version argument
  mua/Dockerfile
Due: build_mua, release_mua

Update unpack libs for AV docker build
  clamav/Dockerfile
Due: build_clamav, release_clamav

Refactor of the docker-compose files
  .agents/architecture/overview.md
  .agents/devops/workflows.md
  .agents/services/configuration.md
  .github/workflows/docker-image.yml
  .gitlab-ci.yml
  AGENTS.md
  Changelog.md
  INSTALL.md
  README.md
  compose-dockerhub.yml
  compose-github.yml
  compose-gitlab.yml
  docker-compose.yml
Due: none

Add github workflow to build docker image and push to dockerhub
  .agents/devops/workflows.md
  Changelog.md
  VERSION
Due: none

Same as previous commit
  .github/workflows/docker-image.yml
Due: none

ci: install swaks + Net::SSLeay so the acceptance suite can test TLS
  .agents/devops/workflows.md
  .github/workflows/docker-image.yml
  Changelog.md
Due: none
